
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>locate</title>
    <link rel="stylesheet" href="../../css/table.css" type="text/css">
    <link rel="stylesheet" type="text/css" media="all"
          href="../../javascript/calendar/calendar-win2k-cold-1.css">
    <script type="text/javascript" src="../../javascript/calendar/cal.js"></script>
    <script type="text/javascript" src="../../javascript/comm/comm.js"></script>
    <script type="text/javascript" src="../../javascript/comm/list.js"></script>
    <script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../../javascript/calendar-ch.js"></script>
    <script type="text/javascript" src="../../javascript/comm/time.js"></script>
    <link rel="stylesheet" href="../../css/cwcalendar.css" type="text/css"></link>
    <script type="text/javascript">
        $(function () {
            //获取一级机构
            $.ajax({
                url: "/transfer/GetFirstKid",
                data: "",
                type: "get",
                success: function (data) {
                    var result = eval("(" + data + ")");
                    for (var i = 0; i < result.length; i++) {
                        $("#firstKindId").append('<option value=' + result[i].first_kind_id + '>' + result[i].first_kind_name + '</option>');
                   
                    }

                }
            })
            //获取二级机构
            $("#firstKindId").change(function () {
                $.ajax({
                    url: "/transfer/GetSecondKid?id=" + $(this).val(),
                    data: "",
                    type: "get",
                    success: function (data) {
                        var result = eval("(" + data + ")");
                        for (var i = 0; i < result.length; i++) {
                            $("#secondKindId").append('<option value=' + result[i].second_kind_id + '>' + result[i].second_kind_name + '</option>');
                        }

                    }
                })
                //获取三级机构
                $("#secondKindId").change(function () {
                    $.ajax({
                        url: "/transfer/GetThirdKid?id=" + $(this).val(),
                        data: "",
                        type: "get",
                        success: function (data) {
                            var result = eval("(" + data + ")");
                            for (var i = 0; i < result.length; i++) {
                                $("#thirdKindId").append('<option value=' + result[i].third_kind_id + '>' + result[i].third_kind_name + '</option>');
                            }

                        }

                    })
                })
            });
           
        });
        $(function () {
            //获取新职位分类
            $.ajax({
                url: "/transfer/Getkind_name",
                data: "",
                type: "get",
                success: function (data) {
                    var result = eval("(" + data + ")");
                    for (var i = 0; i < result.length; i++) {
                        $("#newMajorKindId").append('<option value=' + result[i].new_major_kind_id + '>' + result[i].new_major_kind_name + '</option>');
                    }
                }
            })
            //获取新职位名称
            $("#newMajorKindId").change(function () {
                $.ajax({
                    url: "/transfer/Getmajor_name?id=" + $(this).val(),
                    data: "",
                    type: "get",
                    success: function (data) {
                        var result = eval("(" + data + ")");
                        for (var i = 0; i < result.length; i++) {
                            $("#newMajorId").append('<option value=' + result[i].new_major_id + '>' + result[i].new_major_name + '</option>');
                        }
                    }

                })
            })

        })
    </script>
</head>
<body>
    <form method="get" action="/transfer/list">
        <input type="hidden" name="page.startPage" value="0">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--调动管理--调动查询 </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="查询"
                           class="BUTTON_STYLE1">
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr class="TR_STYLE1">
                <td width="16%" class="TD_STYLE1">
                    请选择员工所在I级机构
                </td>
                <td width="84%" class="TD_STYLE2">
                    <script type="text/javascript">

			
                    </script>

                    <select name="firstKindId" id="firstKindId" size="5" class="SELECT_STYLE2">
                        <option value="" selected="selected" id="quanbuan">全部</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    请选择员工所在II级机构
                </td>
                <td width="84%" class="TD_STYLE2">
                  
                    <select name="secondKindId" id="secondKindId" size="5" class="SELECT_STYLE2">
                        <option value="" selected="selected">全部</option>

                    </select>
                </td>
            </tr>
            <tr class="TR_STYLE1">
                <td width="16%" class="TD_STYLE1">
                    请选择员工所在III级机构
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="thirdKindId" id="thirdKindId" size="5" class="SELECT_STYLE2">
                        <option value="" selected="selected">全部</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    请选择职位分类
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="majorChange.newMajorKindId" id="newMajorKindId" size="5" class="SELECT_STYLE2">
                        <option value="" selected="selected">全部</option>

                    </select>
               
                </td>
            </tr>
            <tr class="TR_STYLE1">
                <td width="16%" class="TD_STYLE1">
                    请选择职位名称
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="majorChange.newMajorId" size=5 id="newMajorId" class="SELECT_STYLE2">
                        <option value="" selected="selected">全部</option>

                       
                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    请输入建档时间
                </td>
                <td width="84%" class="TD_STYLE2">
                    <input name="utilbean.startDate" onclick="aa('utilbean.startDate')" type="text" class="INPUT_STYLE2" id="date_start" style="width:24% " value="" size="30">
                    至<input type="text" name="utilbean.endDate"  onclick="aa('utilbean.endDate')" value="" style="width:24% " class="INPUT_STYLE2" id="date_end">
                    （YYYY-MM-DD）
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
