<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <aliases>
      <add alias="IBonusDao`1" type="IDAO.IBonusDao`1,IDAO"/>
      <add alias="bonus" type="Entity.bonus,Entity"/>

      <add alias="IConfigFileFirstKindDao`1" type="IDAO.IConfigFileFirstKindDao`1,IDAO"/>
      <add alias="config_file_first_kind" type="Entity.config_file_first_kind,Entity"/>

      <add alias="IConfigFileSecondKindDao`1" type="IDAO.IConfigFileSecondKindDao`1,IDAO"/>
      <add alias="config_file_second_kind" type="Entity.config_file_second_kind,Entity"/>

      <add alias="IConfigFileThirdKindDao`1" type="IDAO.IConfigFileThirdKindDao`1,IDAO"/>
      <add alias="config_file_third_kind" type="Entity.config_file_third_kind,Entity"/>

      <add alias="IConfigMajorDao`1" type="IDAO.IConfigMajorDao`1,IDAO"/>
      <add alias="config_major" type="Entity.config_major,Entity"/>


      <add alias="IConfigMajorKindDao`1" type="IDAO.IConfigMajorKindDao`1,IDAO"/>
      <add alias="config_major_kind" type="Entity.config_major_kind,Entity"/>

      <add alias="IConfigPrimaryKeyDao`1" type="IDAO.IConfigPrimaryKeyDao`1,IDAO"/>
      <add alias="config_primary_key" type="Entity.config_primary_key,Entity"/>

      <add alias="IConfigPublicCharDao`1" type="IDAO.IConfigPublicCharDao`1,IDAO"/>
      <add alias="config_public_char" type="Entity.config_public_char,Entity"/>

      <add alias="IConfigQuestionFirstKindDao`1" type="IDAO.IConfigQuestionFirstKindDao`1,IDAO"/>
      <add alias="config_question_first_kind" type="Entity.config_question_first_kind,Entity"/>

      <add alias="IConfigQuestionSecondKindDao`1" type="IDAO.IConfigQuestionSecondKindDao`1,IDAO"/>
      <add alias="config_question_second_kind" type="Entity.config_question_second_kind,Entity"/>

      <add alias="IEngageAnswerDao`1" type="IDAO.IEngageAnswerDao`1,IDAO"/>
      <add alias="engage_answer" type="Entity.engage_answer,Entity"/>

      <add alias="IEngageAnswerDetailsDao`1" type="IDAO.IEngageAnswerDetailsDao`1,IDAO"/>
      <add alias="engage_answer_details" type="Entity.engage_answer_details,Entity"/>

      <add alias="IEngageExamDao`1" type="IDAO.IEngageExamDao`1,IDAO"/>
      <add alias="engage_exam" type="Entity.engage_exam,Entity"/>

      <add alias="IEngageExamDetailsDao`1" type="IDAO.IEngageExamDetailsDao`1,IDAO"/>
      <add alias="engage_exam_details" type="Entity.engage_exam_details,Entity"/>

      <add alias="IEngageInterviewDao`1" type="IDAO.IEngageInterviewDao`1,IDAO"/>
      <add alias="engage_interview" type="Entity.engage_interview,Entity"/>


      <add alias="IEngageMajorReleaseDao`1" type="IDAO.IEngageMajorReleaseDao`1,IDAO"/>
      <add alias="engage_major_release" type="Entity.engage_major_release,Entity"/>

      <add alias="IEngageResumeDao`1" type="IDAO.IEngageResumeDao`1,IDAO"/>
      <add alias="engage_resume" type="Entity.engage_resume,Entity"/>

      <add alias="IEngageSubjectsDao`1" type="IDAO.IEngageSubjectsDao`1,IDAO"/>
       <add alias="engage_subjects" type="Entity.engage_subjects,Entity"/>

      <add alias="IHumanFileDao`1" type="IDAO.IHumanFileDao`1,IDAO"/>
      <add alias="human_file" type="Entity.human_file,Entity"/>

      <add alias="IHumanFileDigDao`1" type="IDAO.IHumanFileDigDao`1,IDAO"/>
      <add alias="human_file_dig" type="Entity.human_file_dig,Entity"/>
    
      <add alias="IMajorChangeDao`1" type="IDAO.IMajorChangeDao`1,IDAO"/>
      <add alias="major_change" type="Entity.major_change,Entity"/>
    
      <add alias="ISalaryGrantDao`1" type="IDAO.ISalaryGrantDao`1,IDAO"/>
      <add alias="salary_grant" type="Entity.salary_grant,Entity"/>
    
      <add alias="ISalaryGrantDetailsDao`1" type="IDAO.ISalaryGrantDetailsDao`1,IDAO"/>
      <add alias="salary_grant_details" type="Entity.salary_grant_details,Entity"/>
    
      <add alias="ISalaryStandardDao`1" type="IDAO.ISalaryStandardDao`1,IDAO"/>
      <add alias="salary_standard" type="Entity.salary_standard,Entity"/>

      <add alias="ISalaryStandardDetailsDao`1" type="IDAO.ISalaryStandardDetailsDao`1,IDAO"/>
      <add alias="salary_standard_details" type="Entity.salary_standard_details,Entity"/>

      <add alias="ITrainingDao`1" type="IDAO.ITrainingDao`1,IDAO"/>
      <add alias="training" type="Entity.training,Entity"/>

      <add alias="IUsersDao`1" type="IDAO.IUsersDao`1,IDAO"/>
      <add alias="users" type="Entity.users,Entity"/>

      <add alias="ISalaryItemDao`1" type="IDAO.ISalaryItemDao`1,IDAO"/>
      <add alias="salary_item" type="Entity.salary_item,Entity"/>

      <add alias="IPermissionsDao`1" type="IDAO.IPermissionsDao`1,IDAO"/>
      <add alias="Permissions" type="Entity.Permissions,Entity"/>

      <add alias="IRolesDao`1" type="IDAO.IRolesDao`1,IDAO"/>
      <add alias="Roles" type="Entity.Roles,Entity"/>

      <add alias="IRolePermissionsDao`1" type="IDAO.IRolePermissionsDao`1,IDAO"/>
      <add alias="RolePermissions" type="Entity.RolePermissions,Entity"/>
    </aliases>
    <containers>

      <!--数据访问层-->
      <container name="containerDAO">
        <register type="IBonusDao[bonus]" mapTo="DAO.BonusDao,DAO" name="BonusDao"></register>
        <register type="IConfigFileFirstKindDao[config_file_first_kind]" mapTo="DAO.ConfigFileFirstKindDao,DAO" name="ConfigFileFirstKindDao"></register>
        <register type="IConfigFileSecondKindDao[config_file_second_kind]" mapTo="DAO.ConfigFileSecondKindDao,DAO" name="ConfigFileSecondKindDao"></register>
        <register type="IConfigFileThirdKindDao[config_file_third_kind]" mapTo="DAO.ConfigFileThirdKindDao,DAO" name="ConfigFileThirdKindDao"></register>
        <register type="IConfigMajorDao[config_major]" mapTo="DAO.ConfigMajorDao,DAO" name="ConfigMajorDao"></register>
        <register type="IConfigMajorKindDao[config_major_kind]" mapTo="DAO.ConfigMajorKindDao,DAO" name="ConfigMajorKindDao"></register>
        <register type="IConfigPrimaryKeyDao[config_primary_key]" mapTo="DAO.ConfigPrimaryKeyDao,DAO" name="ConfigPrimaryKeyDao"></register>
        <register type="IConfigPublicCharDao[config_public_char]" mapTo="DAO.ConfigPublicCharDao,DAO" name="ConfigPublicCharDao"></register>
        <register type="IConfigQuestionFirstKindDao[config_question_first_kind]" mapTo="DAO.ConfigQuestionFirstKindDao,DAO" name="ConfigQuestionFirstKindDao"></register>
        <register type="IConfigQuestionSecondKindDao[config_question_second_kind]" mapTo="DAO.ConfigQuestionSecondKindDao,DAO" name="ConfigQuestionSecondKindDao"></register>
        <register type="IEngageAnswerDao[engage_answer]" mapTo="DAO.EngageAnswerDao,DAO" name="EngageAnswerDao"></register>
        <register type="IEngageAnswerDetailsDao[engage_answer_details]" mapTo="DAO.EngageAnswerDetailsDao,DAO" name="EngageAnswerDetailsDao"></register>
        <register type="IEngageExamDao[engage_exam]" mapTo="DAO.EngageExamDao,DAO" name="EngageExamDao"></register>
        <register type="IEngageExamDetailsDao[engage_exam_details]" mapTo="DAO.EngageExamDetailsDao,DAO" name="EngageExamDetailsDao"></register>
        <register type="IEngageInterviewDao[engage_interview]" mapTo="DAO.EngageInterviewDao,DAO" name="EngageInterviewDao"></register>
        <register type="IEngageMajorReleaseDao[engage_major_release]" mapTo="DAO.EngageMajorReleaseDao,DAO" name="EngageMajorReleaseDao"></register>

        <register type="IEngageResumeDao[engage_resume]" mapTo="DAO.EngageResumeDao,DAO" name="EngageResumeDao"></register>

        <register type="IEngageSubjectsDao[engage_subjects]" mapTo="DAO.EngageSubjectsDao,DAO" name="EngageSubjectsDao"></register>

        <register type="IHumanFileDao[human_file]" mapTo="DAO.HumanFileDao,DAO" name="HumanFileDao"></register>
      
        <register type="IHumanFileDigDao[human_file_dig]" mapTo="DAO.HumanFileDigDao,DAO" name="HumanFileDigDao"></register>
      
        <register type="IMajorChangeDao[major_change]" mapTo="DAO.MajorChangeDao,DAO" name="MajorChangeDao"></register>
      
        <register type="ISalaryGrantDao[salary_grant]" mapTo="DAO.SalaryGrantDao,DAO" name="SalaryGrantDao"></register>
        <register type="ISalaryGrantDetailsDao[salary_grant_details]" mapTo="DAO.SalaryGrantDetailsDao,DAO" name="SalaryGrantDetailsDao"></register>
      
        <register type="ISalaryStandardDao[salary_standard]" mapTo="DAO.SalaryStandardDao,DAO" name="SalaryStandardDao"></register>

        <register type="ISalaryStandardDetailsDao[salary_standard_details]" mapTo="DAO.SalaryStandardDetailsDao,DAO" name="SalaryStandardDetailsDao"></register>

        <register type="ITrainingDao[training]" mapTo="DAO.TrainingDao,DAO" name="TrainingDao"></register>
        
        <register type="IUsersDao[users]" mapTo="DAO.UsersDao,DAO" name="UsersDao"></register>
        
        <register type="ISalaryItemDao[salary_item]" mapTo="DAO.SalaryItemDao,DAO" name="SalaryItemDao"></register>

        <register type="IPermissionsDao[Permissions]" mapTo="DAO.PermissionsDao,DAO" name="PermissionsDao"></register>

        <register type="IRolePermissionsDao[RolePermissions]" mapTo="DAO.RolePermissionsDao,DAO" name="RolePermissionsDao"></register>

        <register type="IRolesDao[Roles]" mapTo="DAO.RolesDao,DAO" name="RolesDao"></register>
      </container>
      <!--业务逻辑层-->
      <container name="containerBLL">
        <register type="IBLL.IBonusBll,IBLL" mapTo="BLL.BonusBll,BLL" name="BonusBll"></register>
        <register type="IBLL.IConfigFileFirstKindBll,IBLL" mapTo="BLL.ConfigFileFirstKindBll,BLL" name="ConfigFileFirstKindBll"></register>
        <register type="IBLL.IConfigFileSecondKindBll,IBLL" mapTo="BLL.ConfigFileSecondKindBll,BLL" name="ConfigFileFirstKindBll"></register>
        <register type="IBLL.IConfigFileThirdKindBll,IBLL" mapTo="BLL.ConfigFileThirdKindBll,BLL" name="ConfigFileFirstKindBll"></register>
        <register type="IBLL.IConfigMajorBll,IBLL" mapTo="BLL.ConfigMajorBll,BLL" name="ConfigMajorBll"></register>
        <register type="IBLL.IConfigMajorKindBll,IBLL" mapTo="BLL.ConfigMajorKindBll,BLL" name="ConfigMajorKindBll"></register>
        <register type="IBLL.IConfigPrimaryKeyBll,IBLL" mapTo="BLL.ConfigPrimaryKeyBll,BLL" name="ConfigPrimaryKeyBll"></register>
        <register type="IBLL.IConfigPublicCharBll,IBLL" mapTo="BLL.ConfigPublicCharBll,BLL" name="ConfigPublicCharBll"></register>
        <register type="IBLL.IConfigQuestionFirstKindBll,IBLL" mapTo="BLL.ConfigQuestionFirstKindBll,BLL" name="ConfigQuestionFirstKindBll"></register>
        <register type="IBLL.IConfigQuestionSecondKindBll,IBLL" mapTo="BLL.ConfigQuestionSecondKindBll,BLL" name="ConfigQuestionSecondKindBll"></register>
        <register type="IBLL.IEngageAnswerBll,IBLL" mapTo="BLL.EngageAnswerBll,BLL" name="EngageAnswerBll"></register>

        <register type="IBLL.IEngageAnswerDetailsBll,IBLL" mapTo="BLL.EngageAnswerDetailsBll,BLL" name="EngageAnswerDetailsBll"></register>

        <register type="IBLL.IEngageExamBll,IBLL" mapTo="BLL.EngageExamBll,BLL" name="EngageExamBll"></register>

        <register type="IBLL.IEngageExamDetailsBll,IBLL" mapTo="BLL.EngageExamDetailsBll,BLL" name="EngageExamDetailsBll"></register>

        <register type="IBLL.IEngageInterviewBll,IBLL" mapTo="BLL.EngageInterviewBll,BLL" name="EngageInterviewBll"></register>

        <register type="IBLL.IEngageMajorReleaseBll,IBLL" mapTo="BLL.EngageMajorReleaseBll,BLL" name="EngageMajorReleaseBll"></register>

        <register type="IBLL.IEngageResumeBll,IBLL" mapTo="BLL.EngageResumeBll,BLL" name="EngageResumeBll"></register>

        <register type="IBLL.IEngageSubjectsBll,IBLL" mapTo="BLL.EngageSubjectsBll,BLL" name="EngageSubjectsBll"></register>

        <register type="IBLL.IHumanFileBll,IBLL" mapTo="BLL.HumanFileBll,BLL" name="HumanFileBll"></register>

        <register type="IBLL.IHumanFileDigBll,IBLL" mapTo="BLL.HumanFileDigBll,BLL" name="HumanFileDigBll"></register>

        <register type="IBLL.IMajorChangeBll,IBLL" mapTo="BLL.MajorChangeBll,BLL" name="MajorChangeBll"></register>
      
        <register type="IBLL.ISalaryGrantBll,IBLL" mapTo="BLL.SalaryGrantBll,BLL" name="SalaryGrantBll"></register>
      
        <register type="IBLL.ISalaryGrantDetailsBll,IBLL" mapTo="BLL.SalaryGrantDetailsBll,BLL" name="SalaryGrantDetailsBll"></register>
      
        <register type="IBLL.ISalaryStandardBll,IBLL" mapTo="BLL.SalaryStandardBll,BLL" name="SalaryStandardBll"></register>

        <register type="IBLL.ISalaryStandardDetailsBll,IBLL" mapTo="BLL.SalaryStandardDetailsBll,BLL" name="SalaryStandardDetailsBll"></register>

        <register type="IBLL.ITrainingBll,IBLL" mapTo="BLL.TrainingBll,BLL" name="TrainingBll"></register>


        <register type="IBLL.IUsersBll,IBLL" mapTo="BLL.UsersBll,BLL" name="UsersBll"></register>
        <register type="IBLL.ISalaryItemBll,IBLL" mapTo="BLL.SalaryItemBll,BLL" name="SalaryItemBll"></register>

        <register type="IBLL.IPermissionsBll,IBLL" mapTo="BLL.PermissionsBll,BLL" name="PermissionsBll"></register>

        <register type="IBLL.IRolePermissionsBll,IBLL" mapTo="BLL.RolePermissionsBll,BLL" name="RolePermissionsBll"></register>

        <register type="IBLL.IRolesBll,IBLL" mapTo="BLL.RolesBll,BLL" name="RolesBll"></register>

      </container>

    </containers>
  </unity>
</configuration>