
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>欢迎使用Bette伯乐人力资源管理系统</title>
</head>
<frameset rows="69,*" framespacing="1" border="1">
    <frame src="top" name="xx" scrolling="no" marginwidth="1" marginheight="1" frameborder="0">
        <frameset cols="200,*" frameborder="NO" border="0" framespacing="0">
            <frame src="left" name="left" scrolling="yes" noresize="">
            <frame src="main" name="mainFrame">
        </frameset>
        <noframes>
            <body topmargin="0" leftmargin="0" bgcolor="#b5daff">
            </body>
        </noframes>
</frameset>
</html>
