
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/javascript/jquery-1.7.2.js"></script>
<script src="~/javascript/jquery.messager.js"></script>

<style type="text/css">
    body {
        background-color: white;
        background-image: url(../images/11041R35400-19.jpg);
        background-repeat: no-repeat;
        background-position: 130% 0;
        margin-left: 20px;
        margin-top: 20px;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>main</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
